@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";

}

<h1>All Role </h1>
<br />
<br />
<a asp-action="Create" class="btn btn-success">Add New Role</a>



@if (Model.Count() > 0)
{
    <form asp-action="Index" class="row col-8 offset-2">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" id="searchInp" placeholder="Search " />
        </div>
        <div>
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(U => U.Id)</th>
                <th>@Html.DisplayNameFor(U => U.RoleName)</th>
                <th>Detials</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var User in Model)
            {
                <tr>
                    <td>@User.Id </td>
                    <td>@User.RoleName </td>
                    <partial name="_ButtonsPartialView" model="@User.Id.ToString()">
                </tr>






            }
        </tbody>
    </table>
}
else
{
    <div>
        <h1>
            There Is No Roles
        </h1>
    </div>
}
